* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 3px lightgray;
}

.title{
  /* Chef Claude */
  width: 172px;
  height: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  /* identical to box height, or 188% */
  letter-spacing: -0.05em;

  color: #141413;
}

.logo{
  width: 43px;
  margin-right: 10px;
}

.add-ingredients{
  display: flex;
  justify-content: center;
  padding-top: 67px;
}

.ingredients-box{
  width: 399px;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  border-color: #D1D5DB;
  margin-right: 17px;
  padding-left: 12px;
}

.add-button{
  background-color: #141413;
  color: #FAFAF8;
  width: 183px;
  height: 38px;
  border-radius: 6px;
}